<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!--STYLES-->
    <link rel="stylesheet" href="/vendors//bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!-- SCRIPTS-->
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>

</head>
<body>
<div class="container">

    <div ng-controller="showZeta">
        <h2>Meet your Zeta Cohort</h2>

        <button ng-click="reverse=false;order('name', false)">Sort By Name</button>
        <button ng-click="reverse=false;order('location', false)">Sort By Location</button>
        <button ng-click="reverse=false;order('favenumber', false)">Sort By Favorite Number</button>
        <hr>
        <div ng-repeat="student in zetaArray">
            <zeta-info info="student"></zeta-info>
        </div>
    </div>

</div>
</body>
</html>